:root {
    --chess-player-card-border: 15px;
    --chess-player-header-border: 10px;
    --chess-color-bg: rgb(119,148,55);
    --chess-color-upleft: rgb(235,235,208);
    --chess-color-downright: rgb(220,190,190);
}

.chess-player-card {
    box-sizing: border-box;
    width: 350px;
    height: 500px;
    padding: var(--chess-player-card-border);
    font-family: 'Copperplate Gothic';
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    border: var(--chess-player-card-border) solid #333333;
    border-radius: var(--chess-player-card-border);
    background-color: var(--chess-color-bg);
    display: flex;
    flex-direction: column;
}

.chess-panel .chess-player-card {
    display: inline-flex;
    vertical-align: top;
    margin: 5px;
}

.chess-centered {
    justify-content: center;
}

.chess-border-theme {
    border-width: var(--chess-player-header-border);
    border-style: solid;
    border-color: var(--chess-color-upleft) var(--chess-color-downright) var(--chess-color-downright) var(--chess-color-upleft);
}

.chess-player-header {
    font-weight: bold;
    font-size: 24px;
    padding: 5px 0;
}

.chess-player-avatar {
    margin: var(--chess-player-card-border) 0;
    display: flex;
    justify-content: center;
}

@keyframes rotate {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.chess-player-loading {
    background-color: var(--chess-color-upleft);
    border: var(--chess-player-header-border) solid var(--chess-color-downright);
    border-radius: var(--chess-player-header-border);
    animation: 1s linear 0s infinite normal none running rotate;
}

.chess-player-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--chess-color-upleft);
    border: var(--chess-player-header-border) solid var(--chess-color-downright);
    border-radius: var(--chess-player-header-border);
}

.chess-player-content.vertical {
    flex-direction: column;
}

.chess-player-content.horizontal {
    flex-direction: row;
}

.chess-player-content.horizontal > * {
    animation: 1s linear 0ms 4 alternate none running flasher;
}

@keyframes flasher {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.chess-time-difference {
    font-size: 24px;
    font-weight: bold;
}

.chess-result-marker {
    font-size: 48px;
    font-weight: bold;
}

.chess-result-marker.win::before {
    content: "\2714";
    color: #008800;
}

.chess-result-marker.draw::before {
    content: "\23AF";
    color: #444444
}

.chess-result-marker.lose::before {
    content: "\2716";
    color: #880000;
}
